# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET="TESTINGTESTINGTESTING TEST"
NEXTAUTH_URL="http://localhost:3000"

# Next Auth Discord Provider
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""

#Firebase
FIREBASE_API_KEY=AIzaSyB2ibR4-0Zu1I1rODsLQSWqm-sBt9IUjzE

#Pinata
PINATA_GATEWAY_TOKEN=hvd5WS5pWXPE_EzbvBRqeT8dk-4lZ3FRoLsav7ibt7p70Ici9GMC9BrM2uzJMdXA
PINATA_BEARER_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiJhODc0OGJjMC1jMWJlLTRiODctOTc2NS03N2Y0NjdkMjJlOTkiLCJlbWFpbCI6Imthcm9sQHNsaWNlZC5jbHViIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsInBpbl9wb2xpY3kiOnsicmVnaW9ucyI6W3siaWQiOiJGUkExIiwiZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjF9LHsiaWQiOiJOWUMxIiwiZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjF9XSwidmVyc2lvbiI6MX0sIm1mYV9lbmFibGVkIjpmYWxzZSwic3RhdHVzIjoiQUNUSVZFIn0sImF1dGhlbnRpY2F0aW9uVHlwZSI6InNjb3BlZEtleSIsInNjb3BlZEtleUtleSI6ImJmYzFkNTgwZmJhMDY5NWUwMDEwIiwic2NvcGVkS2V5U2VjcmV0IjoiOGRjYWQ4YjI3YzdlY2JiNTgwZDQ0NjkzNGY3MTJlYjU1MDc2OTRiZDFmNDQ1Mzc4NDUxZjc3YjA3ZTc5YzllYSIsImlhdCI6MTcxMTQ1MzQ2MH0.mWD-_slO8jVy1vZERjLe4nSljdLw4Q2kiHinpwcVxQE
