# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET="TESTINGTESTINGTESTING TEST"
NEXTAUTH_URL="http://localhost:3000"

# Next Auth Discord Provider
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""

#Firebase
FIREBASE_API_KEY=AIzaSyB2ibR4-0Zu1I1rODsLQSWqm-sBt9IUjzE

#Pinata
PINATA_API_TOKEN=619c888609cb4ae11a1c
PINATA_SECRET_API_TOKEN=90aa90445a9f4849cefd5d003922d91d1d914b899c42404df3668cf26d84e14b
PINATA_BEARER_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiJhODc0OGJjMC1jMWJlLTRiODctOTc2NS03N2Y0NjdkMjJlOTkiLCJlbWFpbCI6Imthcm9sQHNsaWNlZC5jbHViIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsInBpbl9wb2xpY3kiOnsicmVnaW9ucyI6W3siaWQiOiJGUkExIiwiZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjF9LHsiaWQiOiJOWUMxIiwiZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjF9XSwidmVyc2lvbiI6MX0sIm1mYV9lbmFibGVkIjpmYWxzZSwic3RhdHVzIjoiQUNUSVZFIn0sImF1dGhlbnRpY2F0aW9uVHlwZSI6InNjb3BlZEtleSIsInNjb3BlZEtleUtleSI6IjYxOWM4ODg2MDljYjRhZTExYTFjIiwic2NvcGVkS2V5U2VjcmV0IjoiOTBhYTkwNDQ1YTlmNDg0OWNlZmQ1ZDAwMzkyMmQ5MWQxZDkxNGI4OTljNDI0MDRkZjM2NjhjZjI2ZDg0ZTE0YiIsImlhdCI6MTcxMjM1NjcyNX0.G68HuRmrSJv19AXVzvyrSeifK3QFfJuC_AsaeAb4xQg